.menuDiv {
  height: 14vh;
  border-bottom: 1px solid #e74860;
}

.infoRow {
  display: flex;
  align-items: center;
  height: 100%;
}

.menu {
  height: 10vh;
  background-color: transparent;
  color: #fff;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 10%;
}

.hoverEffectDiv,
.hoverEffect {
  /* font-size: 1.1vw; */
  color: #fff !important;
  /* transform: scale(1.1) */
}

.hoverEffectDivActive {
  height: 12.5vh;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-bottom: 0.5vh solid #e74860;
  margin-top: 1.1vh !important;
}

.tryNowBtn,
.tryNowBtn:hover {
  background-color: transparent;
  /* height: 6vh;
  width: 8vw; */
  color: #fff;
  border-color: #fff;
  border-radius: 5px;
  transform: scale(1.2);
}

.contactUs,
.contactUs:hover {
  background-color: #e74860;
  /* height: 6vh;
  width: 8vw; */
  color: #fff;
  border-color: #e74860;
  transform: scale(1.2);
  border-radius: 5px;
}

@media (min-width: 1200px) {
  .hoverEffectDiv,
  .hoverEffect {
    font-size: 1.1vw;
    color: #fff !important;
  }
}
