.projectName {
  font-weight: bolder;
  font-size: 2vw;
  color: #e74860;
}

.defineSteps {
  background-color: #fff;
  border-radius: 20px;
}

.defineSteps .defineStepsRow {
  padding: 1%;
  border: 1px solid rgb(196, 196, 196);
  justify-content: center !important;
  border-radius: 20px !important;
}

.defineStep {
  border: 1px solid rgb(232, 232, 232);
  border-radius: 10px;
  margin: 3px 3px 3px 3px !important;
  text-align: center;
  background-color: #fff;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  color: #0c3246;
}

.defineStepSelect {
  background-color: #0c3246;
  color: #fff;
}

.defineForm {
  margin-top: 4%;
  background-color: #fff;
  padding: 2%;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: #fff;
}

.nextExitBtn {
  justify-content: center;
  display: flex;
}

.nextBtn {
  height: 8%;
  margin: 0px 0px 2% 0px;
  padding: 1% 5% 1% 5%;
  border-radius: 10px;
}

.exitBtn {
  height: 8%;
  margin: 0px 0px 2% 0px;
  padding: 1% 5% 1% 5%;
  border-radius: 10px;
  margin-left: 2%;
  background-color: #0c3246 !important;
  border: 1px solid #0c3246 !important;
}

.inputFile {
  width: 100vh;
  height: 50px;
  border-radius: 25px;
}

.cardViewGraphs {
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.cardViewGraphCarousel {
  width: 48vw !important;
}

.cardView {
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.cardView div div {
  display: flex;
  align-items: center;
  border: #fff !important;
  padding: 2.5vh !important;
}

.cardView div div:nth-child(odd) {
  width: 60% !important;
  color: #0c3246;
  font-weight: bolder;
}

.cardView div div:nth-child(even) {
  width: 40% !important;
  color: #e74860;
  font-weight: 600 !important;
}

.cardView div div:nth-child(even) span {
  width: 40% !important;
  color: #e74860;
  font-weight: 900;
}

.cardViewGrid div div {
  display: flex;
  align-items: center;
  border: #fff !important;
  padding: 2.5vh !important;
}

.cardViewGrid div div:nth-child(odd) {
  width: 60% !important;
  color: #0c3246;
  font-weight: bolder;
}

.cardViewGrid div div:nth-child(even) {
  width: 40% !important;
  color: #e74860;
  font-weight: 600 !important;
}

.cardViewGrid div div:nth-child(even) span {
  width: 40% !important;
  color: #e74860;
  font-weight: 900;
}

.cardViewGraph {
  height: 40vh;
  display: flex !important;
  justify-content: center !important;
}

.cardView ul li {
  padding: 20% 0% 0% 0% !important;
}

.transform h1 {
  font-size: 3.2vw;
  font-weight: bolder;
  color: #0c3246;
  animation-name: text;
  animation-duration: 4s;
}

@keyframes text {
  0% {
    letter-spacing: 0px;
    transition: transform 300ms linear;
  }
  50% {
    letter-spacing: 1px;
  }
  100% {
    letter-spacing: 0px;
    transition: transform 300ms linear;
  }
}

.transform h2 {
  font-size: 1.8vw;
  font-weight: bold;
  color: #0c3246;
}

.transform h2 span {
  color: #e74860;
  font-size: 2vw !important;
  padding: 0.5%;
}

.connectFileInput {
  justify-content: center;
  display: flex;
}

.analyzeMain {
  margin: 1% 0% 1% 0%;
}

.dataList {
  margin: 2% 0% 2% 0%;
}

.transformation {
  font-size: 1.5vw;
  font-weight: bolder;
  color: #e74860;
  padding-left: 1%;
}

.downloadBtn {
  justify-content: right;
  display: flex;
  align-items: center;
  padding-right: 1%;
}

.downloadBtnSpace {
  /* float: right; */
  color: #0c3246;
  font-weight: bold;
}

.downloadBtnSpace:hover {
  color: #e74860;
  font-weight: bolder;
  scale: 1.1;
}

.analyzeMainDetails {
  margin: 1% 0% 1% 0%;
  background-color: #fff;
}

.analyzeMainDetails .ant-collapse-header-text {
  color: #e74860 !important;
}

.designMain {
  margin: 2% 0% 2% 0%;
}

.targetAttributeName {
  background-color: #0c3246;
  color: #fff;
  border-radius: 10px;
}

.targetAttributeName:hover {
  background-color: #0c3246;
  color: #fff;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* .validateTab {
  margin: 2% 0% 2% 0%;
}

.validateTabFirst,
.validateTabSecond {
  height: 6vh;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: large;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.validateTabFirst:hover,
.validateTabSecond:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.validateTabFirst {
  background-color: #e74860;
  border-right: 5px solid #f3f3f3;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.validateTabSecond {
  background-color: #0c3246;
  border-left: 5px solid #f3f3f3;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
} */

.downloadData {
  text-align: end;
}

.downloadData button {
  height: 5vh;
  border-radius: 10px;
}

.designCard {
  border-radius: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.tableNameView {
  color: #0c3246;
  align-items: center;
  display: flex;
  font-weight: bold;
  margin-bottom: 1vh;
}

.detailsTitle {
  margin: 2%;
}

.detailsTitle h2 {
  color: #0c3246;
  font-weight: bold;
}

.detailsTitle h2 span {
  font-size: small;
}

.okbutton {
  align-self: flex-end;
  position: fixed;
  bottom: 8%;
  right: 9%;
  z-index: 999;
  border-radius: 50px;
  background-color: #e74860;
  color: #fff;
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.downloadIcon {
  cursor: pointer !important;
  float: right;
  font-size: 3vh;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  color: #e74860;
}

.downloadIcon:hover {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  color: #e74860;
}

.tabView{
  transition-duration: 1000ms;
  border: 1px solid gray;
  text-align: center;
  height: 5vh;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  border-radius: 2px;
  color: #0c3246;
  /* background-color: #0c3246;
  color: #fff; */
}

.tabViewActive{
  transition-duration: 1000ms;
  background-color: #0c3246;
  color: #fff;
}

.tabViewPar{
  justify-content: center; 
}

/* validate */

.validateTab{
  margin: 2% 0% 2% 0%;
}

.validateTab h1{
  color: #e74860;
  font-weight: bold;
  font-size: 2vw;
}

.expandableTableCss{
  margin: 1%;
  padding: 1%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.expandableTableCss h2 {
  color: #0c3246;
  font-weight: bold;
}

.tabViewActiveValidation{
  background-color: #548135;
  color: #fff;
}
/* validate */

.wordCss{
  word-wrap: break-word;
}