.mainDiv {
  background: linear-gradient(-60deg, #0c3246 30%, #45374c 100%);
  width: 100vw;
  height: 100vh;
}
.mainDivBackground {
  width: 100%;
  height: 85%;
}

.detailsDiv {
  height: 100%;
  width: 100%;
}

.infoRow {
  display: flex;
  height: 100%;
  align-items: center;
}

.infoRow h1 {
  color: #fff;
  font-weight: 300;
  font-size: 4vw;
}

.infoRow h1 span {
  color: #e74860;
  font-weight: 500;
}

.infoRow p {
  color: #fff;
  font-size: 3vh;
  font-weight: 300;
}

.infoRow p span {
  font-weight: 500;
  color: #e74860;
}

.arcCardMainDiv {
  margin: 8vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.arcCardSpace {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.arcDiv {
  border-radius: 1.5vw;
  padding: 3px;
  width: 100%;
  margin-top: 1.5rem;
  width: 100%;
}

.arcRow {
  border-radius: 1.5vw;
  background-color: #fff;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.arcCol {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.arcGradientCard {
  width: 100%;
  padding: 2rem;
  border-radius: 1.5vw;
  background: linear-gradient(-60deg, #0c3246 30%, #45374c 100%);
  @media (max-width: 992px) {
    min-height: 0 !important;
  }

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.arcGradientTitle {
  color: #fff;
  font-weight: 400;
  font-size: 1.7vw;
  @media (max-width: 992px) {
    text-align: center;
  }
  @media (max-width: 768px) {
    font-size: 4vw;
  }
  @media (max-width: 480px) {
    font-size: 7vw;
  }
}

.arcGradientText {
  color: #fff;
  font-weight: 400;
  font-size: 1.3vw;
  text-align: left;
  @media (max-width: 992px) {
    text-align: center;
  }
  @media (max-width: 768px) {
    font-size: 2vw;
  }
  @media (max-width: 575px) {
    font-size: 4vw;
  }
}

.arcContactBtn,
.arcContactBtn:focus,
.arcContactBtn:hover,
.arcContactBtn:active {
  background-color: transparent;
  height: auto;
  width: auto;
  color: #fff;
  border-color: #fff;
  border-radius: 5px;
  font-size: 0.9vw;
  padding: 0.5rem 1rem;
  @media (max-width: 992px) {
    font-size: 1.4vw;
  }
  @media (max-width: 768px) {
    font-size: 1.8vw;
  }
  @media (max-width: 575px) {
    font-size: 3.5vw;
  }
}

.arcTitle {
  margin-bottom: 0 !important;
  color: #0c3246;
  font-weight: 700;
  font-size: 2.2vw;
  @media (max-width: 768px) {
    font-size: 4vw;
  }
  @media (max-width: 575px) {
    font-size: 6vw;
  }
}

@media (max-width: 768px) {
  .mainDiv {
    height: 110vh;
  }

  .mainDivBackground {
    height: 80%;
  }

  .infoRow h1 {
    font-size: 8vw;
    text-align: center;
  }

  .infoRow p {
    text-align: center;
    font-size: 4vw;
  }
}
@media (max-width: 576px) {
  .mainDiv {
    height: 100vh;
  }
}

@media (max-width: 480px) {
  .infoRow h1 {
    font-size: 12vw;
    text-align: center;
  }

  .infoRow p {
    text-align: center;
    font-size: 5vw;
  }
}
