.projectName {
  font-weight: bolder;
  font-size: 2vw;
  color: #e74860;
}

.defineSteps {
  background-color: #fff;
  border-radius: 20px;
}

.defineSteps .defineStepsRow {
  padding: 1%;
  border: 1px solid rgb(196, 196, 196);
  justify-content: center !important;
  border-radius: 20px !important;
}

.defineStep {
  border: 1px solid rgb(232, 232, 232);
  border-radius: 10px;
  margin: 3px 3px 3px 3px !important;
  text-align: center;
  background-color: #fff;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  color: #0c3246;
}

.defineStepSelect {
  background-color: #0c3246;
  color: #fff;
}

.defineForm {
  margin-top: 4%;
  background-color: #fff;
  padding: 2%;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: #fff;
}

.nextExitBtn {
  justify-content: center;
  display: flex;
}

.nextBtn {
  height: 8%;
  margin: 0px 0px 2% 0px;
  padding: 1% 5% 1% 5%;
  border-radius: 10px;
}

.exitBtn {
  height: 8%;
  margin: 0px 0px 2% 0px;
  padding: 1% 5% 1% 5%;
  border-radius: 10px;
  margin-left: 2%;
  background-color: #0c3246 !important;
  border: 1px solid #0c3246 !important;
}

.inputFile {
  width: 100vh;
  height: 50px;
  border-radius: 25px;
}

.cardViewGraphs {
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.cardView {
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.cardView div div {
  display: flex;
  align-items: center;
  border: #fff !important;
  padding: 2.5vh !important;
}

.cardView div div:nth-child(odd) {
  width: 60% !important;
  color: #0c3246;
  font-weight: bolder;
}

.cardView div div:nth-child(even) {
  width: 40% !important;
  color: #e74860;
  font-weight: 600 !important;
}

.cardView div div:nth-child(even) span {
  width: 40% !important;
  color: #e74860;
  font-weight: 900;
}

.cardViewGrid div div {
  display: flex;
  align-items: center;
  border: #fff !important;
  padding: 2.5vh !important;
}

.cardViewGrid div div:nth-child(odd) {
  width: 60% !important;
  color: #0c3246;
  font-weight: bolder;
}

.cardViewGrid div div:nth-child(even) {
  width: 40% !important;
  color: #e74860;
  font-weight: 600 !important;
}

.cardViewGrid div div:nth-child(even) span {
  width: 40% !important;
  color: #e74860;
  font-weight: 900;
}

.cardViewGraph {
  height: 40vh;
  display: flex !important;
  justify-content: center !important;
}

.cardView ul li {
  padding: 20% 0% 0% 0% !important;
}

.transform h1 {
  font-size: 3.2vw;
  font-weight: bolder;
  color: #0c3246;
  /* transform: scale(1); */
  animation-name: text;
  animation-duration: 4s;
}

@keyframes text {
  0% {
    letter-spacing: 0px;
    transition: transform 300ms linear;
  }
  50% {
    letter-spacing: 1px;
  }
  100% {
    letter-spacing: 0px;
    transition: transform 300ms linear;
  }
}

.transform h2 {
  font-size: 1.8vw;
  font-weight: bold;
  color: #0c3246;
}

.transform h2 span {
  color: #e74860;
  font-size: 2vw !important;
  padding: 0.5%;
}

.connectFileInput {
  justify-content: center;
  display: flex;
}

.analyzeMain {
  margin: 1% 0% 1% 0%;
}

.dataList {
  margin: 2% 0% 2% 0%;
}

.transformation {
  font-size: 1.5vw;
  font-weight: bolder;
  color: #e74860;
  padding-left: 1%;
}

.downloadBtn {
  justify-content: right;
  display: flex;
  align-items: center;
  padding-right: 1%;
}

.downloadBtnSpace {
  float: right;
  color: #0c3246;
  font-weight: bold;
  /* color: #0c3246 !important;
  font-size: 1.2vw;
  border: 1px solid #0c3246;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}

.downloadBtnSpace:hover {
  color: #e74860;
  font-weight: bolder;
  scale: 1.1;
  /* transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  border: 1px solid #e74860;
  color: #e74860 !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.analyzeMainDetails {
  margin: 1% 0% 1% 0%;
  background-color: #fff;
}

.analyzeMainDetails .ant-collapse-header-text {
  color: #e74860 !important;
}

.designMain {
  /* border: 1px solid red; */
  margin: 2% 0% 2% 0%;
}

.targetAttributeName {
  background-color: #0c3246;
  color: #fff;
  border-radius: 10px;
}

.targetAttributeName:hover {
  background-color: #0c3246;
  color: #fff;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.validateTab{
  margin: 2% 0% 2% 0%;
}

.validateTabFirst, .validateTabSecond{
  height: 6vh;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: large;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.validateTabFirst:hover, .validateTabSecond:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.validateTabFirst{
  background-color: #e74860;
  border-right: 5px solid #f3f3f3;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.validateTabSecond{
  background-color: #0c3246;
  border-left: 5px solid #f3f3f3;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}


.downloadData{
  text-align: end;
}

.downloadData button{
  height: 5vh;
  border-radius: 10px;
}

/* 
.uploadTestData {
  width: 49%;
  margin: 0.5%;
  margin-top: 3%;
  border-radius: 0px;
  
  transform: skewX(15deg);
}

.validate {
    width: 49%;
    margin: 0.5%;
    margin-top: 3%;
    border-radius: 0px;
    
    transform: skewX(15deg);
    background-color: #0C3246 !important;
    border: 1px solid #0C3246 !important;
}

.downloadData {
  height: 70%;
  margin: 1% 0px 1% 0px;
  padding: 0.5% 2% 0.5% 2%;
  border-radius: 10px;
  border-color: #FAFAFA;
  background-color: #FAFAFA;
  color: #000000;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.17);
}



.tab {
  width: 100%;
  margin: 2% 0px 2% 0px;
  border-radius: 14px; 
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.17);
} */