.newProjectBtn {
    height: 8%;
    margin: 0px 0px 2% 0px;
    padding: 0% 3% 0% 3%;
    border-radius: 10px;
}

.formCenter {
    display: flex;
    justify-content: center;
    height: 80vh;
}

.nextBtn {
    height: 8%;
    margin: 0px 0px 2% 0px;
    padding: 0% 3% 0% 3%;
    border-radius: 10px;
}

.exitBtn {
    height: 8%;
    margin: 0px 0px 2% 0px;
    padding: 0% 3% 0% 3%;
    border-radius: 10px;
    margin-left: 2%;
    background-color: #0C3246 !important;
    border: 1px solid #0C3246 !important;
}

.inputCenter{
    /* height: 50px; */
}

.inputCenterPlusBtn{
    /* border: 1px solid red; */
    display: flex;
    margin-top: 2%;
    /* align-items: center; */
}