.mainDiv {
  width: 100%;
  height: 100vh;
  background-size: cover !important;
}

.mainDivLoad {
  background: url("/home/sequence.gif") no-repeat center center;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.detailsDiv {
  height: 90%;
}

.infoRow {
  display: flex;
  height: 100%;
  align-items: center;
}

.leftEvent {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6vw;
}

.leftEventFirstDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftEventSecondDiv {
  width: 100%;
  margin-top: 2vh;
}

.leftEvent h1,
.leftEvent p,
.leftEvent h6 {
  width: 100%;
  text-align: center;
  color: white;
  mix-blend-mode: difference;
}

.leftEvent h1 {
  font-size: 3vw;
  font-weight: bolder;
}

.leftEvent p {
  font-size: 1.6vw;
  font-weight: bold;
}

.leftEvent h6 {
  font-size: 1vw;
  line-height: 1.5;
}

.leftEventBottom {
  height: 8vh;
  border-radius: 100px;
  background-color: rgb(255, 255, 255, 0.1);
}

.leftEventBottomBadge {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftEventBottomBadge button,
.leftEventBottomBadge button:hover {
  width: 90%;
  border-radius: 50px;
  color: #fff;
  background-color: #e74860;
  font-size: 2vh;
  height: 70%;
}

.bottomText {
  justify-content: center;
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
  font-size: 2vh;
}

.drawer {
  margin-top: 10vh;
}

.drawer div {
  border-radius: 0px 200px 0px 0px;
}

.drawer > div > div > .ant-drawer-content {
  background-color: gray !important;
  border: 1px solid #e74860;
}

.modelButonClose,
.modelButonOpen {
  transition-delay: 0.5s;
  position: absolute;
  z-index: 9999;
  background-color: #e74860;
  color: #fff;
  padding: 6px;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  margin-top: 20vh;
  font-size: 0.7vw;
}

.modelButonOpen {
  margin-left: 33.2vw;
  margin-top: 23vh;
}

.displayDivShow {
  display: block;
  opacity: 1;
  transition: opacity 5s;
}

.displayDivHide {
  opacity: 0;
  display: none;
}

.rightIcon {
  height: 10vh;
}

.rightTimelineName,
.rightTimelineDate {
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  cursor: pointer;
}

.rightTimelineNameActive,
.rightTimelineDateActive {
  color: #fff;
  font-weight: bold;
  cursor: default;
}

.rightTimelineName div {
  padding: 5px;
  width: 80%;
  text-align: end;
  border-radius: 10px;
  font-weight: bolder;
  border: 2px solid gray;
}

.rightTimelineNameActive div {
  border: 2px solid #fff;
}

.rightTimelineDate {
  background-image: linear-gradient(gray 33%, rgba(255, 255, 255, 0) 0%);
  background-position: left;
  background-size: 1vh 0.4vh;
  background-repeat: repeat-y;
}

.rightTimelineDateActive {
  background-image: linear-gradient(#fff 33%, rgba(255, 255, 255, 0) 0%);
}

.dot {
  height: 1.4vw;
  width: 1.4vw;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  margin-left: -9.8vw !important;
  position: absolute;
}

.dotLine {
  height: 0.15vw;
  width: 2.5vw;
  background-color: gray;
  display: inline-block;
  margin-left: -10.6vw !important;
  position: absolute;
}

.dotActive,
.dotLineActive {
  background-color: #fff;
}

.collapsetBtn {
  height: 2.875rem;
  width: 2.875rem;
  background: #e74860;
  border: none;
  color: #fff;
  border-radius: 100%;
  padding: 0;
  margin-left: -8px;
}

.collapsetBtn:focus {
  background: #e74860;
  border: none;
  color: #fff;
}

.collapseDiv {
  padding: 0.4rem;
  border-radius: 3.75rem;
  background: #ffffff4d;
  align-items: center !important;
  margin-right: -18vw;
  z-index: 99999999999;
}

.collapseDiv h3 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0 1rem;
  margin-bottom: 0em;
}

.relativeDiv {
  position: relative;
}

.relativeDiv .collapseDiv {
  position: absolute;
  top: 0vw;
  right: 35vw;
  z-index: 99;
}

.registerBtn{
  display: flex;
  justify-content: center;
}

.registerBtn button{
  background-color: #e74860 !important;
  color: #fff !important;
  border-radius: 25px;
  border: #0c3246;
  font-size: 1.2rem;
  height: 100%;
  padding-left: 2vw;
  padding-right: 2vw;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.50) 0px 2px 16px 0px;
}

/* .signUpBtn {
  height: 50px;
  border-radius: 15px;
  background: #0c3246;
  width: 70% !important;
  margin-left: 15%;
}

.signUpBtn:hover {
  height: 50px;
  border-radius: 15px;
  background: #14394d;
}

.signUpBtn:focus {
  height: 50px;
  border-radius: 15px;
  background: #14394d;
} */

.registerNowBtn {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 4vh;
}

.registerNowBtn button,
.registerNowBtn button:hover {
  background-color: #e74860 !important;
  color: #fff !important;
  border-radius: 25px;
  border: #0c3246;
  font-size: 1.5rem;
  height: 100%;
  padding-left: 2vw;
  padding-right: 2vw;
  box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.32) 0px 2px 16px 0px;
}

.registerNowBtn button:hover {
  box-shadow: rgba(255, 255, 255, 0.50) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.50) 0px 2px 16px 0px;
}
