@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");

:root {
  --Secondary9: #0C3246;
  --Secondary4: #9EADB5;
  --Primary: #E74860;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  background-color: #fff !important;
}

::-webkit-scrollbar {
  background-color: rgb(222, 222, 222);
  width: 0.3vw;
  height: 0.3vw;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--Secondary9, #0C3246);
}

::-webkit-scrollbar-thumb {
  background-color: #ea919e;
  border-radius: 5px;
  height: 0.4vw;
}

.input {
  height: 2.8vw !important;
  width: 100% !important;
  background: #ffffff !important;
  border: 1px solid #d6d6d6 !important;
  border-radius: 10px !important;
  resize: vertical !important;
}

.input input::placeholder {
  font-size: 1.2vw !important;
}

.inputSelect div {
  height: 2.8vw !important;
  width: 100% !important;
  background: #ffffff !important;
  border: 1px solid #d6d6d6 !important;
  border-radius: 10px !important;
  resize: vertical !important;
  display: flex !important;
  align-items: center !important;
}

.inputSelectMultiple div {
  border-radius: 10px !important;
  padding: 0.14vw;
}

.inputDesignSelect div {
  width: 100% !important;
  padding: 12px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  resize: vertical !important;
  border-radius: 10px !important;
  height: 5vh !important;
  justify-content: center !important;
  align-items: center !important;
}

.ant-select-selection-search {
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

.antdUpload .ant-select-dropdown-menu-item {
  line-height: 50px !important;
}

.antdUpload .ant-upload-select {
  border: 1px dashed gray !important;
  width: 40vw !important;
  height: 30vh !important;
  border-radius: 25px !important;
}

.ant-upload {
  background-color: rgb(217, 217, 217) !important;
  border-radius: 25px !important;
}

.ant-menu-horizontal,
.ant-menu-item::after,
.ant-menu-submenu::after {
  border: none !important;
}

.react-flow__node.circle {
  padding: 0% !important;
  width: 160px !important;
  height: 160px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  transform: rotateZ(45deg) !important;
  background-color: transparent !important;
  padding: 0% !important;
  border: 1px solid transparent !important;
}

.ant-timeline-item-left .ant-timeline-item-label {
  padding-right: 2% !important;
}

.ant-timeline-item-right .ant-timeline-item-label {
  padding-left: 10% !important;
}

.ant-timeline-item-head {
  background-color: var(--Primary, #E74860) !important;
  border: 7px solid var(--Primary, #E74860) !important;
}

.ant-timeline-item-tail {
  background-color: var(--Primary, #E74860) !important;
  width: 4px !important;
}

.modernizationWorks .ant-steps-item-description {
  color: #fff !important;
  font-size: 12px !important;
}

.modernizationWorks .ant-steps-item-container :hover {
  transition: all 1s ease !important;
  scale: 1.04 !important;
  cursor: pointer !important;
}

.ant-steps-item-content {
  text-align: center !important;
}

.textBoxMain {
  background-color: transparent !important;
  width: 45% !important;
  border: 1px solid white !important;
  border-radius: 10px !important;
}

.dataFlowNuoData {
  background-color: transparent !important;
  width: 20 !important;
  border: 1px solid transparent !important;
}

.dataFlow {
  background-color: transparent !important;
  width: 18% !important;
  border: 1px solid transparent !important;
}

.textBox {
  background-color: transparent !important;
  width: 40% !important;
  color: #fff !important;
  border: 1px solid white !important;
  border-radius: 10px !important;
}

.react-flow__attribution {
  display: none !important;
}

.defineTabs .ant-tabs-nav-wrap {
  border-radius: 25px !important;
}

.defineTabs .ant-tabs-nav-list {
  width: 100% !important;
  background-color: #fff !important;
  border-radius: 25px !important;
  box-shadow: 0 4px 10px 0 rgb(0, 0, 0, 0.1%), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.defineTabs .ant-tabs-nav-list .ant-tabs-tab {
  border: 1px solid #d7d7d7 !important;
  width: 14% !important;
  display: flex !important;
  text-align: center !important;
  justify-content: center !important;
  margin: 1.5% !important;
  padding: 0.5% !important;
  border-radius: 10px !important;
  color: black !important;
  font-weight: bold !important;
}

.defineTabs .ant-tabs-nav-list .ant-tabs-tab-active {
  background-color:var(--Secondary9, #0C3246) !important;
  color: #fff !important;
}

.defineTabs .ant-tabs-nav-list .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important;
}

.ant-tabs-ink-bar {
  height: 5px !important;
  background: transparent !important;
}

.defineForm .ant-form-item .ant-form-item-label label {
  color: #000000 !important;
  font-weight: bold !important;
}

.ant-form-item-label label {
  font-size: 16px !important;
}

.demo .ant-table-thead tr:first-child th:first-child {
  border-radius: 10px 0px 0px 0px !important;
}

.demo .ant-table-thead tr:first-child th:last-child {
  border-radius: 0px 10px 0px 0px !important;
}

.demo .ant-table-tbody>tr:last-child>td:first-child {
  border-radius: 0px 0px 0px 10px !important;
}

.demo .ant-table-tbody>tr:last-child>td:last-child {
  border-radius: 0px 0px 10px 0px !important;
}

.demo .ant-table-content {
  padding: 2% !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 10px 0 rgb(0, 0, 0, 0.1%), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff !important;
}

.demo div {
  border-radius: 10px;
}

.demoCard {
  border-radius: 20px !important;
  box-shadow: 0 4px 10px 0 rgb(0, 0, 0, 0.1%), 0 4px 10px 0 rgba(0, 0, 0, 0.1) !important;
  background-color: #fff !important;
}

.ant-table-thead th {
  color:var(--Secondary9, #0C3246) !important;
  font-weight: bold !important;
}

.ant-collapse-header-text {
  color: var(--Primary, #E74860) !important;
  font-weight: bolder !important;
  font-size: large !important;
}

.ant-collapse-expand-icon {
  color: var(--Primary, #E74860) !important;
  font-weight: bolder !important;
  font-size: large !important;
}

@media (max-width: 600px) {
  .textBoxMain {
    background-color: transparent !important;
    width: 100% !important;
    border: 1px solid white !important;
    border-radius: 10px !important;
  }

  .textBox {
    background-color: transparent !important;
    width: 100% !important;
    color: #fff !important;
    border: 1px solid white !important;
    border-radius: 10px !important;
    height: 10vh !important;
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

@media (max-width: 760px) {
  .react-flow__node.circle {
    padding: 0% !important;
    width: 300px !important;
    height: 300px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    transform: rotateZ(45deg) !important;
    background-color: transparent !important;
    padding: 0% !important;
  }
}

.centerButton {
  display: flex !important;
  align-items: flex-end !important;
  height: 6vh !important;
}

.ant-menu-submenu-popup li {
  color: var(--Primary, #E74860) !important;
  font-weight: bold !important;
}

.ant-menu-submenu-popup .SPACEMENU {
  display: none !important;
}

html {
  scroll-behavior: calc(5000) !important;
}

.inputGroup {
  /* height: 2.8vw;
  width: 100% !important;
  padding: 12px !important;
  border: 1px solid #ccc !important;
  resize: vertical !important;
  border-radius: 0px 10px 10px 0px !important; */

  height: 2.8vw !important;
  width: 100% !important;
  background: #ffffff !important;
  border: 1px solid #d6d6d6 !important;
  border-radius: 0px 10px 10px 0px !important;
  resize: vertical !important;
}

.inputSelectGroup div {
  /* width: 100% !important;
  padding: 12px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  resize: vertical !important;
  border-radius: 10px 0px 0px 10px !important;
  height: 2.8vw !important;
  justify-content: center !important;
  align-items: center !important; */

  height: 2.8vw !important;
  width: 100% !important;
  background: #ffffff !important;
  border: 1px solid #d6d6d6 !important;
  border-radius: 10px 0px 0px 10px !important;
  resize: vertical !important;
  display: flex !important;
  align-items: center !important;
}

.inputGroupNumber::-webkit-outer-spin-button,
.inputGroupNumber::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

.inputGroupNumber {
  -moz-appearance: textfield !important;
}

.search::placeholder {
  color: var(--Secondary9, #0C3246) !important;
  opacity: 1 !important;
}

.treeCss .ant-tree-switcher {
  background-color: transparent !important;
}

.treeCss .ant-tree .ant-tree-treenode {
  padding: 0 0 10px 0 !important;
}

.controls-node {
  position: absolute;
  z-index: 5;
}

.ant-tree-node-content-wrapper:hover {
  background-color: var(--Primary, #E74860) !important;
}

.treeCss .ant-tree-node-content-wrapper:hover {
  background-color: var(--Primary, #E74860) !important;
}

.treeCss .ant-tree-node-selected {
  background-color: var(--Primary, #E74860) !important;
  border: 1px solid #fff;
}

.treeCss .demo123 {
  color: var(--Primary, #E74860); 
}

.treeCss .demo123:hover {
  color: #fff !important;
}

.demo123 .ant-tree-node-selected {
  background-color: var(--Primary, #E74860) !important;
  border: 1px solid #fff !important;
  color: #fff !important;
}

.downloadBtn {
  background-color: var(--Secondary9, #0C3246) !important;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  margin-left: 5px;
  color: #fff;
  font-weight: bolder !important;
}

.downloadBtn:hover {
  border: 1px solid #fff;
  color: #fff !important;
}

.validatePopupTable .ant-table-thead .ant-table-cell {
  background-color: #f2f2f2;
}

.validatePopupTable .ant-table-thead .ant-table-cell {
  background-color: #f2f2f2;
}

.ant-radio-checked .ant-radio-inner {
  border-color: var(--Primary, #E74860) !important;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: var(--Primary, #E74860); 
}

.ant-radio .ant-radio-inner {
  border-color: var(--Secondary9, #0C3246);
}

.ant-radio:hover .ant-radio-inner {
  border-color: var(--Primary, #E74860); 
}

.ant-spin-dot-item {
  background-color: var(--Secondary9, #0C3246);
}

.title {
  border: 1px solid var(--Primary, #E74860) !important;
  width: 50vh;
}

.drawer>.ant-drawer-content {
  background-color: gray !important;
  border: 1px solid var(--Primary, #E74860); 
}

.ant-menu-vertical .ant-menu-item-only-child span>.tryNowBtn {
  background-color: var(--Primary, #E74860); 
}

.phoneGroupHeight {
  height: 2.8vw !important;
}

@media (max-width: 1200px) {
  .input {
    height: 4vw !important;
  }

  .phoneGroupHeight {
    height: 4vw !important;
  }

  .inputGroup {
    height: 4vw !important;
  }

  .inputSelectGroup div {
    height: 4vw !important;
  }
}

@media (max-width: 992px) {
  .input {
    height: 5vw !important;
  }

  .phoneGroupHeight {
    height: 10vw !important;
  }

  .inputGroup {
    height: 5vw !important;
  }

  .inputSelectGroup div {
    height: 5vw !important;
  }
}

@media (max-width: 768px) {
  .input {
    height: 6vw !important;
  }

  .phoneGroupHeight {
    height: 12vw !important;
  }

  .inputGroup {
    height: 6vw !important;
  }

  .inputSelectGroup div {
    height: 6vw !important;
  }
}

@media (max-width: 576px) {
  .input {
    height: 10vw !important;
  }

  .phoneGroupHeight {
    height: 20vw !important;
  }

  .inputGroup {
    height: 10vw !important;
  }

  .inputSelectGroup div {
    height: 10vw !important;
  }
}

.sliderHandle .ant-slider-handle {
  color: #4bb543;
  background-color: #4bb543;
  border-color: #4bb543;
  width: 3vw;
  border-radius: 10px;
  height: 1vh;
  margin-top: -0.25vh;
}

.selectabc {
  pointer-events: none !important;
  cursor: not-allowed !important;
  background-color: #e6f7ff !important;
}

.ant-select-item-option-selected {
  pointer-events: painted !important;
  cursor: pointer !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--Primary, #E74860) !important;
  border-color: var(--Primary, #E74860) !important;
}

.ant-checkbox .ant-checkbox-inner {
  border-color: var(--Primary, #E74860) !important;
}

.underline .ant-tabs-tab.ant-tabs-tab-active {
  border-bottom: 2px solid var(--Secondary9, #0C3246) !important;
  z-index: 2;
}

.underline .ant-tabs-nav-wrap {
  /* border-bottom: 1px solid red; */
}

.tabActive .ant-tabs-tab.ant-tabs-tab-active div {
  color: var(--Primary, #E74860) !important;
  z-index: 2;
}

.tabActive .ant-tabs-tab.ant-tabs-tab-active {
  /* border-bottom: 2px solid var(--Primary, #E74860) !important;
  z-index: 2; */
  border-bottom: 2px solid transparent !important;
  border-left: 2px solid var(--Primary, #E74860) !important;
  z-index: 2;
}

/* .text-updater-node {
  height: 10vh;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.text-updater-node label {
  display: block;
  color: #777;
  font-size: 12px;
} */

.ant-message-notice-content {
  border: 1px solid lightgray;
  border-radius: 10px;
  z-index: 9999;
}

.buttonHide button {
  display: none
}

.ant-btn>span {
  text-transform: capitalize;
}

.re-ex-padding .ant-table-title {
  padding: 0 !important;
}

.re-ex-padding .ant-table {
  font-size: 12px;
}

.ant-transfer-operation .ant-btn {
  border-radius: 10vw;
  padding: 8px 16px;
  font-size: inherit;
  font-weight: 400;
  width: 140px;
  height: 36px;
  display: flex;
}

.ant-transfer-operation .ant-btn>span {
  text-align: center;
  justify-content: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ant-transfer-operation .ant-btn,
.ant-transfer-operation .ant-btn:hover,
.ant-transfer-operation .ant-btn:focus,
.ant-transfer-operation .ant-btn:active {
  background: var(--Secondary9, #0C3246) !important;
  color: #fff !important;
  border: 1px solid var(--Secondary9, #0C3246) !important;
}

.ant-transfer-operation .ant-btn[disabled],
.ant-transfer-operation .ant-btn[disabled]:hover,
.ant-transfer-operation .ant-btn[disabled]:focus,
.ant-transfer-operation .ant-btn[disabled]:active {
  border: 1px solid var(--Secondary9, #0C3246) !important;
  color: var(--Secondary9, #0C3246) !important;
  background: #fff !important;
}

.ant-checkbox-checked::after {
  border: 1px solid var(--Primary, #E74860); 
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: var(--Primary, #E74860); 
}

.ingestion-transfer .ant-transfer-list {
  display: flex;
  flex-direction: column;
  width: 242px;
  height: 240px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}


.ingestion-transfer.ant-transfer {
  gap: 20px;

}

.ingestion-transfer .ant-input-affix-wrapper {
  display: flex;
  height: 32px;
  padding: 8px;
  align-items: center;
  gap: 4px;
  border-radius: 5px;
  border: 1px solid var(--Secondary2, #CED6DA);
  background: #FFF;
}

.ant-transfer-list-content::-webkit-scrollbar-thumb {
  background-color: #ececec !important;
}