/* INFO */

.space {
  background: url("../public/home/bg1.png") repeat center center;
  width: 100%;
  height: 10vw;
  background-size: cover;
}

.mainDiv {
  background: url("../public/home/sequence.gif") no-repeat center center;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.detailsDiv {
  height: 90%;
}

.infoRow {
  display: flex;
  height: 100%;
  align-items: center;
}

.infoRow h1 {
  color: #fff;
  font-weight: bold;
  font-size: 5vw;
  text-transform: uppercase;
  text-align: end;
}

.infoRow h1 span {
  color: #e74860;
}

@media (max-width: 1200px) {
  .mainDiv {
    height: 70vh;
  }
}
@media (max-width: 992px) {
  .infoRow h1 {
    font-size: 7vw;
    text-align: center;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .infoRow h1 {
    font-size: 8vw;
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* INFO */

/* THINK BIG */

.thinkBigMainDiv {
  margin: 5% 0% 5% 0%;
}

.thinkBigChild h1:first-child {
  color: #0c3246 !important;
  font-size: 6vw;
  font-weight: bolder;
  
}

.thinkBigChild h1:last-child {
  color: #e74860 !important;
  font-size: 6vw;
  font-weight: bolder;
  line-height: 0px;
}

.thinkBigChild {
  margin-top: 5%;
  display: flex;
  align-items: center;

  /* border-bottom: 1px solid rgb(226, 224, 224); */
}

.thinkBigChild h2 {
  color: #0c3246 !important;
  font-size: 3vw !important;
  /* margin-top: 2%; */
  font-weight: bold;
}

.thinkBigChild h2 span {
  font-weight: bolder;
  color: #e74860;
}

.thinkBigChildIcon {
  color: #e74860;
  margin-right: 20px;
  font-size: 2.5vw;
}

@media (max-width: 1150px) {
  .thinkBigChild h1:first-child {
    font-size: 10vw;
  }

  .thinkBigChild h1:last-child {
    font-size: 10vw;
  }

  .thinkBigChild h2 {
    font-size: 3.5vw !important;
  }

  .thinkBigMainDiv {
    margin: 2% 0% 2% 0%;
  }
}

.thinkBigChildStstem {
  display:flex;
}

.thinkBigChildMobile {
  display: none;
}

@media (max-width: 992px) {
  .thinkBigChild h2 {
    font-size: 5vw !important;
  }

  .thinkBigChildStstem {
    display: none;
  }
  
  .thinkBigChildMobile {
    display: flex;
  }
}

@media (max-width: 760px) {
  .thinkBigChild h1:first-child {
    font-size: 15vw;
  }

  .thinkBigChild h1:last-child {
    font-size: 15vw;
  }

  .thinkBigChild h2 {
    font-size: 5vw !important;
  }
}

@media (max-width: 480px) {
  .thinkBigChild h1:first-child {
    font-size: 20vw;
  }

  .thinkBigChild h1:last-child {
    font-size: 20vw;
  }

  .thinkBigChild h2 {
    font-size: 8vw !important;
  }
}

/* THINK BIG */

/* ENTERPRISE CHALLENGE */

.ECmain {
  background-color: #000000;
}

.mainEnterpriseChallengeDiv {
  background: url("../public/home/enterpriseChallenge/output-onlinepngtools.png")
    no-repeat center center;
}

.ECTitle {
  width: 100%;
  text-align: center;
  font-size: 4vw;
  margin: 2%;
  font-weight: bolder;
  color: #fff;
}

.ECTitle span {
  background-image: linear-gradient(#000000 60%, #0c3246 50%);
}

.ECTitle1{
  color: #0c3246 !important;
}

.ECTitle1 span {
  background-image: linear-gradient(#FFF 60%, #FFF 50%) !important;
}

.ECmainRow {
  margin: 2% 0% 2% 0%;
}

.ECimageCol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ECColimage {
  height: 18vh;
}

.ECnumberCol h1 {
  font-size: 6vw;
  font-weight: bolder;
  color: #fff;
  text-decoration: underline;
  height: 100% !important;
  display: flex;
  align-items: center;
}

.ECtextCol h1 {
  font-size: 3vw;
  font-weight: bolder;
  line-height: 120%;
  color: #fff;
}

.mainEnterpriseChallengeDottedLine {
  height: 15vh;
  /* margin-top: 2%;
  margin-bottom: 2%; */
  background-image: linear-gradient(#514f4f 50%, black 50%);
  background-position: right;
  background-size: 2px 15px;
  background-repeat: repeat-y;
}

.howNuoDataworksBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3% 0% 3% 0%;
}

.howNuoDataworksBtn button {
  color: #e74860 !important;
  font-weight: bolder;
  font-size: 18px;
  height: 8vh;
  border-radius: 15px;
  border: 1px solid #e74860 !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.howNuoDataworksBtn button:hover {
  border: 2px solid #e74860 !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

@media (max-width: 1200px) {
  .ECTitle {
    font-size: 6vw;
  }
  .ECColimage {
    height: 20vh;
    padding-right: 5%;
  }
  .ECnumberCol h1 {
    font-size: 8vw;
  }
  .ECtextCol h1 {
    font-size: 4vw;
  }
}
@media (max-width: 992px) {
  .ECTitle {
    font-size: 6vw;
  }
  .ECColimage {
    height: 18vh;
    padding-right: 5%;
  }

  .ECnumberCol h1 {
    font-size: 10vw;
  }

  .ECtextCol h1 {
    font-size: 5vw;
  }

  .mainEnterpriseChallengeDottedLine {
    height: 14vh;
  }
}
@media (max-width: 768px) {
  .ECTitle {
    font-size: 8vw;
  }
  .ECColimage {
    height: 14vh;
    padding-right: 5%;
  }

  .ECnumberCol h1 {
    font-size: 14vw;
  }

  .ECtextCol h1 {
    font-size: 5vw;
  }
  .mainEnterpriseChallengeDottedLine {
    height: 12vh;
  }
  .ECmainRow {
    margin: 5% 0% 5% 0%;
  }
}
@media (max-width: 576px) {
  .ECTitle {
    font-size: 10vw;
  }
  .ECColimage {
    height: 8vh;
    padding-right: 5%;
  }

  .ECnumberCol h1 {
    font-size: 18vw;
  }

  .ECtextCol h1 {
    font-size: 8vw;
    margin-top: 4vh;
    text-align: center;
  }

  .ECimageCol {
    justify-content: center;
  }

  .ECColimage {
    height: 15vh !important;
  }

  .mainEnterpriseChallengeDottedLine {
    height: 10vh;
  }
}


/* MODERN */

.MWCTextParent {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MWCText h1 {
  color: #fff;
  text-align: center;
  font-size: 5vw;
  font-weight: bolder;
}

@media (max-width: 1200px) {
  .MWCTextParent {
    height: 50vh;
  }
  .MWCText h1 {
    font-size: 6vw;
  }
}
@media (max-width: 992px) {
  @media (max-width: 1200px) {
    .MWCTextParent {
      height: 60vh;
    }
    .MWCText h1 {
      font-size: 8vw;
    }
  }
}
@media (max-width: 768px) {
  @media (max-width: 1200px) {
    .MWCTextParent {
      height: 60vh;
    }
    .MWCText h1 {
      font-size: 9vw;
    }
  }
}
@media (max-width: 576px) {
  @media (max-width: 1200px) {
    .MWCTextParent {
      height: 50vh;
    }
    .MWCText h1 {
      font-size: 10vw;
    }
  }
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background: linear-gradient(
      135deg,
      #fff 0%,
      #fff 25%,
      #e74860 50%,
      #e74860 75%,
      #052b3b 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


/* MODERN */

.dataModernizationArchitecture {
  display: block;
}

@media (max-width: 992px) {
  .dataModernizationArchitecture {
    /* display: none; */
  }
}

.dataModernizationArchitectureTtile {
  align-items: center;
  text-align: center;
  margin-top: 2%;
}

.dataModernizationArchitectureTtile h1 span {
  font-size: 4vw;
  font-weight: bolder;
  color: #0c3246;
}


.dataModernizationArchitectureTtile p {
  font-size: 1vw;
  font-weight: bold;
  color: #0c3246;
}

/* .infoRowSystemView {
  background: url("/home/archi-gif.gif") no-repeat center center;
  background-size: auto;
  height: 100vh;
  background-size: 100% 80%;
} */

.infoRowSystemViewSystem{
  display: block;
}

.infoRowSystemViewmobile{
  display: none;
}

@media (max-width: 576px) {
  /* .infoRowSystemView {
    background: url("/home/3-1-GIF.gif") no-repeat center center;
    background-size: auto;
    height: 120vh;
  } */

  .infoRowSystemViewSystem{
    display: none;
  }
  
  .infoRowSystemViewmobile{
    display: block;
  }

}

.infoRowSystemTextView {
  margin-right: 4%;
  width: 70vh;
}

.infoRowSystemView p {
  font-size: 5vh;
  text-align: center;
  font-weight: bolder;
  color: #0c3246;
}

/* ENTERPRISE CHALLENGE */

/* PLATFORMS */
.platForm {
  background-color: #052b3b;
}
.platFormColBg {
  background: url("../public/home/platform-gif.gif") no-repeat center center;
  background-size: 100% 100%;
  height: 100vh;
}

.platForm h1 {
  text-align: center;
}

.platForm h1 span {
  text-align: center;
  font-size: 4vw;
  margin: 2% 0% 2% 0%;
  font-weight: bolder;
  color: #fff;
  background-image: linear-gradient(#052b3b 75%, gray 100%);
}

/* PLATFORMS */

.ECmainNew {
  height: 90vw;
  background-color: #123a50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ECmainNewChild {
  height: 80vw;
  width: 80vw;
  clip-path: circle(50%);
  background-image: linear-gradient(to right, #07283b, #245772);
}

.ECmainNewRow {
  /* height: 13.33vw; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.textPos1 {
  height: 14vw;
  margin-left: 30%;
  display: flex;
  align-items: flex-end;
}

.textPos2 {
  height: 11vw;
  margin-left: 15%;
  display: flex;
  align-items: center;
}

.textPos3 {
  height: 11vw;
  margin-left: 10%;
  display: flex;
  align-items: center;
}

.textPos4 {
  height: 11vw;
  margin-left: 10%;
  display: flex;
  align-items: center;
}

.textPos5 {
  height: 11vw;
  margin-left: 15%;
  display: flex;
  align-items: center;
}

.textPos6 {
  height: 14vw;
  margin-left: 30%;
  display: flex;
  align-items: center;
}

.ECmainNewChild h1 {
  color: #fff;
  font-size: 2.6vw;
  /* padding-left: 10%;  */
  text-align: center;
}

/* .ECmainNewRow{
  height: 13.33vw;
   display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red; 
}

.textPos1{
  border: 1px solid red !important;
  height: 13.33vw;
  margin-left: 25%;
  display: flex;
  align-items: center;
}

.ECmainNewChild h1{
  color: #FFF;
  font-size: 2.5vw;
  padding-left: 10%;
  text-align: center;
} */
