/* INFO */

.space{
  background: url("../public/home/bg1.png") repeat center center;
  width: 100%;
  height: 10vw;
  background-size: cover;
}



.mainDiv {
  background: url("../public/home/sequence.gif") no-repeat center center;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.detailsDiv {
  height: 90%;
}

.infoRow {
  display: flex;
  height: 100%;
  align-items: center;
}

.infoRow h1 {
  color: #fff;
  font-weight: bold;
  font-size: 5vw;
  text-transform: uppercase;
  text-align: end;
}

.infoRow h1 span {
  color: #e74860;
}

@media (max-width: 1200px) {
  .mainDiv {
    height: 70vh;
  }
}
@media (max-width: 992px) {
  .infoRow h1 {
    font-size: 7vw;
    text-align: center;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .infoRow h1 {
    font-size: 8vw;
  }
}

/* @media (max-width: 1150px) {
  .mainDiv {
    height: 60vh;
    background-size: cover;
  }

  .infoRow h1 {
    font-size: 8vw;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .infoRow h1 {
    font-size: 8vw;
  }
} */

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* INFO */

/* THINK BIG */

.thinkBigMainDiv {
  margin: 5% 0% 5% 0%;
}

.thinkBigChild h1:first-child {
  color: #0c3246 !important;
  font-size: 6vw;
  font-weight: bolder;
}

.thinkBigChild h1:last-child {
  color: #e74860 !important;
  font-size: 6vw;
  font-weight: bolder;
  line-height: 0px;
}

.thinkBigChild h2 {
  color: #0c3246 !important;
  font-size: 3vw !important;
  margin-top: 2%;
  font-weight: bold;
}

.thinkBigChild h2 span {
  font-weight: bolder;
  color: #e74860;
}

.thinkBigChildIcon {
  color: #e74860;
  margin-right: 20px;
  font-size: 2.5vw;
}

@media (max-width: 1150px) {
  .thinkBigChild h1:first-child {
    font-size: 10vw;
  }

  .thinkBigChild h1:last-child {
    font-size: 10vw;
  }

  .thinkBigChild h2 {
    font-size: 6vw !important;
  }

  .thinkBigMainDiv {
    margin: 2% 0% 2% 0%;
  }
}

@media (max-width: 760px) {
  .thinkBigChild h1:first-child {
    font-size: 15vw;
  }

  .thinkBigChild h1:last-child {
    font-size: 15vw;
  }

  .thinkBigChild h2 {
    font-size: 8vw !important;
  }
}

@media (max-width: 480px) {
  .thinkBigChild h1:first-child {
    font-size: 20vw;
  }

  .thinkBigChild h1:last-child {
    font-size: 20vw;
  }

  .thinkBigChild h2 {
    font-size: 8vw !important;
  }
}

/* THINK BIG */

/* ENTERPRISE CHALLENGE */

.ECmain {
  background-color: #000000;
}

.mainEnterpriseChallengeDiv {
  background: url("../public/home/enterpriseChallenge/output-onlinepngtools.png")
    no-repeat center center;
}

.ECTitle {
  width: 100%;
  text-align: center;
  font-size: 4vw;
  margin: 2%;
  font-weight: bolder;
  color: #fff;
}

.ECTitle span {
  background-image: linear-gradient(#000000 60%, #626262 50%);
}

.ECmainRow {
  margin: 2% 0% 2% 0%;
}

.ECimageCol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ECColimage {
  height: 18vh;
}

.ECnumberCol h1 {
  font-size: 6vw;
  font-weight: bolder;
  color: #fff;
  text-decoration: underline;
  height: 100% !important;
  display: flex;
  align-items: center;
}

.ECtextCol h1 {
  font-size: 3vw;
  font-weight: bolder;
  line-height: 120%;
  color: #fff;
}

.mainEnterpriseChallengeDottedLine {
  height: 15vh;
  /* margin-top: 2%;
  margin-bottom: 2%; */
  background-image: linear-gradient(#514f4f 50%, black 50%);
  background-position: right;
  background-size: 2px 15px;
  background-repeat: repeat-y;
}

.howNuoDataworksBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3% 0% 3% 0%;
}

.howNuoDataworksBtn button {
  color: #e74860 !important;
  font-weight: bolder;
  font-size: 18px;
  height: 8vh;
  border-radius: 15px;
  border: 1px solid #e74860 !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.howNuoDataworksBtn button:hover {
  border: 2px solid #e74860 !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

@media (max-width: 1200px) {
  .ECTitle {
    font-size: 6vw;
  }
  .ECColimage {
    height: 20vh;
    padding-right: 5%;
  }
  .ECnumberCol h1 {
    font-size: 8vw;
  }
  .ECtextCol h1 {
    font-size: 4vw;
  }
}
@media (max-width: 992px) {
  .ECTitle {
    font-size: 6vw;
  }
  .ECColimage {
    height: 18vh;
    padding-right: 5%;
  }

  .ECnumberCol h1 {
    font-size: 10vw;
  }

  .ECtextCol h1 {
    font-size: 5vw;
  }

  .mainEnterpriseChallengeDottedLine {
    height: 14vh;
  }
}
@media (max-width: 768px) {
  .ECTitle {
    font-size: 8vw;
  }
  .ECColimage {
    height: 14vh;
    padding-right: 5%;
  }

  .ECnumberCol h1 {
    font-size: 14vw;
  }

  .ECtextCol h1 {
    font-size: 5vw;
  }
  .mainEnterpriseChallengeDottedLine {
    height: 12vh;
  }
  .ECmainRow {
    margin: 5% 0% 5% 0%;
  }
}
@media (max-width: 576px) {
  .ECTitle {
    font-size: 10vw;
  }
  .ECColimage {
    height: 8vh;
    padding-right: 5%;
  }

  .ECnumberCol h1 {
    font-size: 18vw;
  }

  .ECtextCol h1 {
    font-size: 8vw;
    margin-top: 4vh;
    text-align: center;
  }

  .ECimageCol {
    justify-content: center;
  }

  .ECColimage {
    height: 15vh !important;
  }

  .mainEnterpriseChallengeDottedLine {
    height: 10vh;
  }
}

/* .mainEnterpriseChallenge {
  background-color: #0c3246;
  display: flex;
  align-items: center;
  justify-content: left;
}

.mainEnterpriseChallenge h2 {
  width: 100%;
  text-align: center;
  font-size: 4vw;
  margin: 2%;
  font-weight: bolder;
  color: #fff;
}

.mainEnterpriseChallenge h2 span {
  background-image: linear-gradient(#0c3246 60%, #626262 50%);
}

.childDiv {
  margin: 2% 0% 3% 0%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.8rem;
}

.childDivNew {
  margin: 2% 0% 3% 0%;
  border-bottom: 1px dotted #e74860;
}

.childDiv:hover {
  color: #fff;
  scale: 1.05;
  transition: all 1s ease;
  border: 5px solid #e74860;
}

.childDivNew:hover {
  display: flex;
  justify-content: flex-start;
  color: #e74860;
  scale: 1.05;
  transition: all 1s ease;
}
.imageDiv {
  display: flex;
  justify-content: center;
  height: 30vh;
}

.textDiv {
  height: 30vh;
  padding: 4%;
}
.imageDiv img {
  border-radius: 0.8rem;
}
.textDiv h1 {
  color: #fff;
  font-weight: bold;
}

.textDiv h1:hover {
  color: #e74860;
}

.textDiv h1 span {
  font-weight: bolder;
  font-size: 50px !important;
}


@media (max-width: 760px) {
  .mainEnterpriseChallenge h2 {
    font-size: 6vw;
  }
  .textDiv,
  .imageDiv {
    display: flex;
    justify-content: center;
    height:100%;
    padding: 4%;
  }
} */

/* .mainEnterpriseChallenge {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: left;
}

.mainEnterpriseChallengeDiv {
  background: url("../public/home/enterpriseChallenge/output-onlinepngtools.png")
    no-repeat center center;
}

.mainEnterpriseChallenge h2 {
  width: 100%;
  text-align: center;
  font-size: 4vw;
  margin: 2%;
  font-weight: bolder;
  color: #fff;
}

.mainEnterpriseChallenge h2 span {
  background-image: linear-gradient(#000000 60%, rgb(98, 98, 98, 0.5) 50%);
}

.enterpriseChallengeList {
  margin: 4vh 0% 4vh 0%;
}

.mainEnterpriseChallengeImageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainEnterpriseChallengeImage {
  height: 100%;
}

.mainEnterpriseChallengeNumber {
  font-size: 6vw !important;
  font-weight: bolder !important;
  margin: 0 !important;
  color: #fff;
  text-decoration: underline;
  align-items: center;
  display: flex;
}

.mainEnterpriseChallengeText {
  font-size: 4vw;
  font-weight: bolder;
  margin: 0 !important;
  color: #fff;
  line-height: 120%;
}

.mainEnterpriseChallengeDottedLine {
  height: 20vh;
  margin-top: 2%;
  margin-bottom: 2%;
  background-image: linear-gradient(#514f4f 50%, black 50%);
  background-position: left;
  background-size: 2px 15px;
  background-repeat: repeat-y;
}

.howNuoDataworksBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3% 0% 3% 0%;
}

.howNuoDataworksBtn button {
  color: #e74860 !important;
  font-weight: bolder;
  font-size: 18px;
  height: 8vh;
  border-radius: 15px;
  border: 1px solid #e74860 !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.howNuoDataworksBtn button:hover {
  border: 2px solid #e74860 !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

@media (max-width: 1150px) {
  .mainEnterpriseChallenge h2 {
    font-size: 7vw;
  }
  .mainEnterpriseChallengeNumber {
    font-size: 6vw !important;
  }

  .mainEnterpriseChallengeText {
    font-size: 4vw;
  }

  .mainEnterpriseChallengeDottedLine {
    height: 15vh;
  }
  .mainEnterpriseChallengeImage {
    height: 90%;
  }
}
@media (max-width: 760px) {
  .mainEnterpriseChallenge h2 {
    font-size: 8vw;
  }
  .mainEnterpriseChallengeNumber {
    font-size: 10vw !important;
  }

  .mainEnterpriseChallengeText {
    font-size: 6vw;
  }

  .mainEnterpriseChallengeDottedLine {
    height: 12vh;
  }
  .mainEnterpriseChallengeImage {
    height: 80%;
  }
}
@media (max-width: 480px) {
  .mainEnterpriseChallenge h2 {
    font-size: 10vw;
  }
  .mainEnterpriseChallengeNumber {
    font-size: 10vw !important;
  }

  .mainEnterpriseChallengeText {
    font-size: 8vw;
    font-weight: 500
  }
  .mainEnterpriseChallengeImage {
    height: 70%;
  }
  .mainEnterpriseChallengeDottedLine {
    height: 10vh;
  }
} */

/* MODERN */

.MWCTextParent {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MWCText h1 {
  color: #fff;
  text-align: center;
  font-size: 5vw;
  font-weight: bolder;
}

@media (max-width: 1200px){
  .MWCTextParent {
    height: 50vh;
  }
  .MWCText h1 {
    font-size: 6vw;
  }
}
@media (max-width: 992px){
  @media (max-width: 1200px){
    .MWCTextParent {
      height: 60vh;
    }
    .MWCText h1 {
      font-size: 8vw;
    }
  }
}
@media (max-width: 768px){
  @media (max-width: 1200px){
    .MWCTextParent {
      height: 60vh;
    }
    .MWCText h1 {
      font-size: 9vw;
    }
  }
}
@media (max-width: 576px){
  @media (max-width: 1200px){
    .MWCTextParent {
      height: 50vh;
    }
    .MWCText h1 {
      font-size: 10vw;
    }
  }
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background: linear-gradient(
      135deg,
      #fff 0%,
      #fff 25%,
      #e74860 50%,
      #e74860 75%,
      #052b3b 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* .bgImage {
  background: url("../public/home/bg4.png") no-repeat center center;
  background-size: cover;
  text-align: center;
}

.bgImage h1 {
  width: 100%;
  text-align: center;
  font-size: 4vw;
  margin: 2% 0% 2% 0%;
  font-weight: bolder;
  color: rgb(54, 54, 54);
}

.bgImage h1 span {
  background-image: linear-gradient(#fff 75%, gray 100%);
}

.bgImage p {
  font-size: 1vw;
  font-weight: bold;
  color: rgb(54, 54, 54);
}

.modernizeWithConfidenceMain {
  margin-top: 5%;
  margin-bottom: 5%;
}

.ModernData {
  height: 8vh;
  border: 1px solid #e74860;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 15px;
  font-size: 22px;
  font-weight: bold;
  padding: 3% !important;
  color: #0c3246 !important;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

.ModernData:hover {
  background-color: #e74860;
  color: #fff !important;
  cursor: pointer;
  scale: 1.2;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

.ModernDataDev {
  height: 6vh;
  border-right: 1px solid #858585 !important;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  font-size: 22px;
  padding-left: 44%;
}

.chat:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
  position: absolute;
  bottom: -12px;
}

.chat:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 17px solid #e74860;
  position: absolute;
  bottom: -15px;
}

.chat.right:after,
.chat.right:before {
  rotate: 45deg;
}
.chat.right:before {
  left: calc(75%);
  border-bottom: 15px solid #e74860;
}
.chat.right:after {
  left: calc(75% + 1px);
}

.chat.left:after,
.chat.left:before {
  rotate: -45deg;
}
.chat.left:before {
  right: calc(75%);
}
.chat.left:after {
  right: calc(75% + 1px);
  border-bottom: 15px solid #fff;
}

.chat.left:hover:after {
  right: calc(75% + 1px);
  border-bottom: 15px solid #e74860;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

.chat.right:hover:after {
  right: calc(75% + 1px);
  border-bottom: 15px solid #e74860;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

@media (max-width: 760px) {
  .ModernData {
    height: 8vh;
    font-size: 14px;
  }
} */

/* MODERN */

.dataModernizationArchitectureTtile {
  align-items: center;
  text-align: center;
  margin-top: 2%;
}

.dataModernizationArchitectureTtile h1 span {
  font-size: 4vw;
  font-weight: bolder;
  color: #0c3246;
  background-image: linear-gradient(#fff 75%, gray 100%);
}

.dataModernizationArchitectureTtile p {
  font-size: 1vw;
  font-weight: bold;
  color: #0c3246;
}

.infoRowSystemView {
  background: url("/home/archi-gif.gif") no-repeat center center;
  background-size: auto;
  height: 120vh;
  background-size: 100% 80%;
}

.infoRowSystemTextView {
  margin-right: 4%;
  width: 70vh;
}

.infoRowSystemView p {
  font-size: 5vh;
  text-align: center;
  font-weight: bolder;
  color: #0c3246;
}

/* ENTERPRISE CHALLENGE */

/* PLATFORMS */
.platForm {
  background-color: #052b3b;
}
.platFormColBg {
  background: url("../public/home/platform-gif.gif") no-repeat center center;
  background-size: 100% 100%;
  height: 100vh;
}

.platForm h1 {
  text-align: center;
}

.platForm h1 span {
  text-align: center;
  font-size: 4vw;
  margin: 2% 0% 2% 0%;
  font-weight: bolder;
  color: #fff;
  background-image: linear-gradient(#052b3b 75%, gray 100%);
}

/* PLATFORMS */


.ECmainNew{
  height: 90vw;
  background-color: #123a50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ECmainNewChild{
  height: 80vw;
  width: 80vw;
  clip-path: circle(50%);
  background-image: linear-gradient(to right, #07283B , #245772);
}

.ECmainNewRow{
  /* height: 13.33vw; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.textPos1{
  height: 14vw;
  margin-left: 30%;
  display: flex;
  align-items: flex-end;
}

.textPos2{
  height: 11vw;
  margin-left: 15%;
  display: flex;
  align-items: center;
}

.textPos3{
  height: 11vw;
  margin-left: 10%;
  display: flex;
  align-items: center;
}

.textPos4{
  height: 11vw;
  margin-left: 10%;
  display: flex;
  align-items: center;
}

.textPos5{
  height: 11vw;
  margin-left: 15%;
  display: flex;
  align-items: center;
}

.textPos6{
  height: 14vw;
  margin-left: 30%;
  display: flex;
  align-items: center;
}


.ECmainNewChild h1{
  color: #FFF;
  font-size: 2.6vw;
  /* padding-left: 10%;  */
  text-align: center;
}


/* .ECmainNewRow{
  height: 13.33vw;
   display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red; 
}

.textPos1{
  border: 1px solid red !important;
  height: 13.33vw;
  margin-left: 25%;
  display: flex;
  align-items: center;
}

.ECmainNewChild h1{
  color: #FFF;
  font-size: 2.5vw;
  padding-left: 10%;
  text-align: center;
} */