.mainDiv {
  background: url("/home/bg3.png") no-repeat center center;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.mainDivOP {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.9;
}

.infoTextImage {
  height: 90vh;
  display: flex;
  align-items: center;
}

.infoText {
  text-align: center;
}

.infoText h1 {
  font-size: 5vw;
  color: #fff;
  font-weight: bolder;
}

.infoText h1 span {
  color: #e74860;
}

.infoText p {
  font-size: 2vw;
  color: #fff;
  /* font-weight: bolder; */
}

@media (max-width: 760px) {
  .infoText h1 {
    font-size: 6vw;
  }

  .infoText p {
    font-size: 3vw;
  }
}

.ModernizationWorks {
  width: 100%;
  height: 100%;
}

.mainDivMW {
  width: 100%;
  height: 100%;
}

.enterpriseChallengeColTitle {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 30vh;
}

.enterpriseChallengeColTitle h1 {
  color: #0c3246 !important;
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  background-image: linear-gradient(#fff 75%, #0c3246 100%);
}

.enterpriseChallengeColTitle p {
  color: #0c3246 !important;
  font-size: 1vw;
  text-align: center;
  font-weight: bolder;
}

.ModernizationWorksStepsDetails {
  height: 100%;
  margin-top: 2%;
}

.stepToDivDesktop {
  display: block;
}

.stepToDivMobile {
  display: none;
}

.modernizationDesktopView {
  display: block;
}

.modernizationMobileiew {
  display: none;
}

@media (max-width: 600px) {
  .ModernizationWorksStepsDetails {
    height: 100%;
    margin-top: 10%;
  }

  .modernizationDesktopView {
    display: none;
  }

  .modernizationMobileiew {
    display: block;
  }
  .enterpriseChallengeColTitle h1 {
    font-size: 10vw;
  }
}

@media (max-width: 860px) {
  .stepToDivDesktop {
    display: none;
  }

  .stepToDivMobile {
    display: block;
  }
}

.enterpriseChallengeColFooter {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 5%;
  font-size: 1vw;
  font-weight: bolder !important;
}

.enterpriseChallengeColFooterButton {
  transition: all 2s ease;
  width: 40%;
  height: 50px;
  border-radius: 20px;
  font-weight: bold;
  color: #e74860;
  font-size: large;
  border: 1px solid #0c3246;
}

.enterpriseChallengeColFooterButton:hover {
  transition: all 2s ease;
  color: #e74860;
  border: 1px solid #0c3246;
  border-radius: 50px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.launchYourFreeTrial {
  width: 50% !important;
  height: 7vh;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
  color: #e74860 !important;
  background-color: rgb(255, 255, 255, 0.2);
}

@media (max-width: 480px) {
  .launchYourFreeTrial {
    width: 80% !important;
  }

  .infoText h1 {
    font-size: 10vw;
  }

  .infoText p {
    font-size: 5vw;
  }

  .enterpriseChallengeColFooter {
    font-size: 3vw;
  }

  .enterpriseChallengeColFooterButton {
    width: 80%;
  }
}

.textBoxText {
  font-size: 1.5vw;
  font-weight: bolder;
  color: #fff !important;
}

@media (max-width: 600px) {
  .textBoxText {
    font-size: 4vw;
    font-weight: bolder;
    color: #fff !important;
  }
}

.ModernizationWorksBgImage {
  /* height: 100%; */
  background-size: cover !important;
  background: url("/home/hiwbg.jpg");
  background-repeat: no-repeat !important;
  border-radius: 10vw 10vw 0px 0px;
}

.ModernizationWorksBgColor {
  border: 1px solid black;
  border-radius: 10vw 10vw 0px 0px;
  background-color: rgb(0, 0, 0, 0.94);
  padding: 5% 0% 0% 0%;
}
