.mainDiv {
  background: url("/how_it_work/bg3-overlay (1).png") no-repeat center center;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.detailsDiv {
  height: 90%;
}

.infoText {
  display: flex;
  height: 90vh;
  align-items: center;
}

.infoText h1 {
  font-size: 6vw;
  color: #fff;
  font-weight: bolder;
}

.infoText h1 span {
  color: #e74860;
}

.infoText p {
  font-size: 1.5vw;
  color: #fff;
  font-weight: bold;
}

.infoImage {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.infoImageTag {
  object-fit: contain;
  height: 90vh;
}

@media (max-width: 1200px) {
  .infoText h1 {
    font-size: 6.5vw;
  }

  .infoText p {
    font-size: 1.6vw;
  }
}
@media (max-width: 992px) {
  .infoText h1 {
    font-size: 8vw;
  }

  .infoText p {
    font-size: 2vw;
  }
}
@media (max-width: 768px) {
  .infoText h1 {
    font-size: 10vw;
  }

  .infoText p {
    font-size: 3vw;
  }

  .infoText {
    height: 50vh;
    text-align: center;
  }

  .infoImage {
    height: 55vh;
  }

  .infoImageTag {
    height: 50vh;
  }
}
@media (max-width: 576px) {
  .infoText h1 {
    font-size: 12vw;
  }

  .infoText p {
    font-size: 5vw;
  }

  .infoText {
    height: 40vh;
    text-align: center;
  }

  .infoImage {
    height: 40vh;
  }

  .infoImageTag {
    height: 40vh;
  }
}

.ModernizationWorks {
  width: 100%;
  height: 100%;
}

.mainDivMW {
  width: 100%;
  height: 100%;
}

.enterpriseChallengeColTitle {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.enterpriseChallengeColTitle h1 {
  color: #0c3246 !important;
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  background-image: linear-gradient(#fff 75%, #0c3246 100%);
}

.enterpriseChallengeColTitle p {
  color: #0c3246 !important;
  font-size: 1vw;
  text-align: center;
  font-weight: bolder;
}

.ModernizationWorksStepsDetails {
  height: 100%;
  margin-top: 2%;
}

.stepToDivDesktop {
  display: block;
}

.stepToDivMobile {
  display: none;
}

.modernizationDesktopView {
  display: block;
}

.modernizationMobileiew {
  display: none;
}

@media (max-width: 600px) {
  .ModernizationWorksStepsDetails {
    height: 100%;
    margin-top: 10%;
  }

  .modernizationDesktopView {
    display: none;
  }

  .modernizationMobileiew {
    display: block;
  }
  .enterpriseChallengeColTitle h1 {
    font-size: 10vw;
  }
}

@media (max-width: 860px) {
  .stepToDivDesktop {
    display: none;
  }

  .stepToDivMobile {
    display: block;
  }
}

.enterpriseChallengeColFooter {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5%;
  font-size: 1vw;
  font-weight: bolder !important;
  background: url("/how_it_work/bg1.png") repeat center center;
  background-size: cover;
}

.enterpriseChallengeColFooterButton {
  transition: all 2s ease;
  width: 40%;
  height: 50px;
  border-radius: 20px;
  font-weight: bold;
  color: #e74860;
  font-size: large;
  border: 1px solid #0c3246;
}

.enterpriseChallengeColFooterButton:hover {
  transition: all 2s ease;
  color: #e74860;
  border: 1px solid #0c3246;
  border-radius: 50px;
  box-shadow: 0 4px 10px 0 rgb(0, 0, 0, .10%), 0 4px 10px 0 rgba(0,0,0,.10);
}

.launchYourFreeTrial {
  width: 50% !important;
  height: 7vh;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
  color: #e74860 !important;
  background-color: rgb(255, 255, 255, 0.2);
}

@media (max-width: 480px) {
  .launchYourFreeTrial {
    width: 80% !important;
  }

  .infoText h1 {
    font-size: 10vw;
  }

  .infoText p {
    font-size: 5vw;
  }

  .enterpriseChallengeColFooter {
    font-size: 3vw;
  }

  .enterpriseChallengeColFooterButton {
    width: 80%;
  }
}

.textBoxText {
  font-size: 1.5vw;
  font-weight: bolder;
  color: #fff !important;
}

@media (max-width: 600px) {
  .textBoxText {
    font-size: 4vw;
    font-weight: bolder;
    color: #fff !important;
  }
}

.ModernizationWorksBgImage {
  background-size: cover !important;
  background: url("/how_it_work/hiwbg.jpg");
  background-repeat: no-repeat !important;
  border-radius: 10vw 10vw 0px 0px;
}

.ModernizationWorksBgColor {
  border: 1px solid black;
  border-radius: 10vw 10vw 0px 0px;
  background-color: rgb(0, 0, 0, 0.92);
  padding: 5% 0% 0% 0%;
}
