.mainLayout {
  height: 100vh;
}

.maxWidth {
  width: 100%;
}

.menuTxtMargin {
  margin-left: 12px;
}

.collapseStyle {
  color: #fff;
  float: right;
}

.collapseArrowCol {
  display: flex;
  align-items: center;
}

.mainLayoutSider {
  display: flex;
  height: 100%;
  width: 260px !important;
  max-width: 260px !important;
  flex: 0 0 260px !important;
  background-color: #0c3246;
  padding: 12px 10px 24px 10px;
}

.collapsedSider {
  height: 100%;
  width: 0px !important;
  max-width: 0px !important;
  flex: 0 0 0px !important;
  background-color: #0c3246;
  display: none;
}

.mainLayoutSider .ant-layout-sider-trigger {
  display: none !important;
}

.collapseMenuBtn {
  height: 80px;
  width: 100%;
  color: #0c3246;
  background: #fff;
  border-radius: 0;
  text-shadow: none !important;
  box-shadow: none !important;
  position: absolute;
  top: 0;

  @media (max-width: 840px) {
    margin-left: 1vw;
  }
}

.logOutBtn {
  background: #e74860;
  border: 1px solid #e74860;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 12px 24px;
  height: auto;
  border-radius: 5px;
  margin-top: 24px;
}

.logOutBtn:hover,
.logOutBtn:focus,
.logOutBtn:active {
  background: #c13e50 !important;
  color: #fff !important;
  border-color: #c13e50 !important;
}

.logoImage {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10%;
}

.mainLayoutHeader {
  background-color: #fff;
}

.mainLayoutContent {
  /* background-color: #f3f3f3; */
  /* padding: 1% 2.5% 1% 2.5%; */
  background-color: #fff;
  padding: 1% 1.5%;
}

.mainMenu {
  display: flex;
  align-items: center;
  color: #fff;
}

.activeMenu {
  background-color: #081f2c;
}

.mainMenuRow {
  height: 70vh;
  overflow-y: scroll;
  width: 100%;
  align-content: start;
  margin-top: 10%;
}

.mainMenuDiv {
  width: 100%;
  padding: 0;
  margin-bottom: 2vh;
}

.mainMenuCol {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
}

.mainMenuCol:hover {
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.activeMenu {
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.subMainMenu {
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 30px;
}

.subMainMenuSelect {
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 30px;
}

.logoutBtn {
  background: #e74860;
  border: 1px solid #e74860;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.mainLayoutHeader {
  padding: 0 15px !important;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  background: #fff;
}

.HeaderUserName h1 {
  margin-top: 30px;
  color: var(--Black8, #333);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: capitalize;
  @media (max-width: 991px) {
    margin-left: 4vw;
  }
}

.headerItems ul li {
  padding: 0 10px !important;
}

.headerItems ul {
  margin-top: 7px;
}

.BellOutlined {
  padding: 12px 0;
  margin: 10px 0;
}

.UserOutlined {
  background: var(--Primary, #e74860);
}
