.signUpLeft {
  background: #0c3246;
  height: 100%;
}

.logo {
  width: 40%;
  height: 10%;
}

.leftImage {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.flexView {
  height: 92%;
  justify-content: center;
  align-items: center;
}

.signUpForm {
  margin: 5% 20% 0% 20%;
}

.contactUsForm {
  margin: 5% 15% 0% 15%;
}

.contactUsForm h1 {
  color: #0c3246;
  font-weight: bolder;
}

.signUpBtn {
  height: 50px;
  border-radius: 15px;
  background: #0c3246;
  width: 70% !important;
  margin-left: 15%;
}

.signUpBtn:hover {
  height: 50px;
  border-radius: 15px;
  background: #14394d;
}

.signUpBtn:focus {
  height: 50px;
  border-radius: 15px;
  background: #14394d;
}

.signup {
  margin-top: 20px;
}

.cursorPointer {
  cursor: pointer;
  color: #0c3246;
}

.desktopView {
  display: flex;
}

.mobileView {
  display: none;
}

@media (max-width: 800px) {
  .desktopView {
    display: none;
  }

  .mobileView {
    display: flex;
  }
}

@media (max-width: 600px) {
  .contactUsForm {
    margin: 5% 2% 0% 2%;
  }

  .contactUsForm h1 {
    color: #0c3246;
    font-weight: bolder;
    text-align: center;
  }
}
