.textcssView {
  opacity: 0;
  /* visibility: hidden; */
}

.textcssView:hover {
  opacity: 1;
  transition: all 1s;
  /* visibility: visible; */
}


.bgImage{
  background: url("/how_it_work/bg3-overlay (1).png") no-repeat center center;
  /* width: 100%; */
  /* height: 100vh; */
  background-size: cover;
}